<!DOCTYPE html>
<html lang="en">
<head>
   <title>Garage Status</title>
   <link href="{{url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
   <script src="{{url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
   <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
   <!-- <META HTTP-EQUIV="refresh" CONTENT="5"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script>
      function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('CLOCK').innerHTML =
        "Current Time: " + h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
      </script>

</head>

<body onload="startTime()">

  <div class="container-fluid">
  <br>
  <h3>Garage Status</h3>
  <br>
  <b>Door:</b> {% if DoorStat == 'open' %}<img src="{{url_for('static', filename='media/red-led-on-hi.png') }}" alt="Open" width="26px"  />{% elif DoorStat == 'closed' %}<img src="{{url_for('static', filename='media/green-led-on-hi.png') }}" alt="Closed" width="26px"  />{% endif %}
  <b>Bypass:</b> {% if bpStat == 'On' %}<img src="{{url_for('static', filename='media/red-led-on-hi.png') }}" alt="On" width="26px"  />{% elif bpStat == 'Off' %}<img src="{{url_for('static', filename='media/gray-led.png') }}" alt="Off" width="26px"  />{% endif %}<br>
  <br>{{gCPU}}<br>

    {% if ohdBPO == 'off' %}

      <a href="/ohdBPO/on" class="btn btn-secondary btn-sm" role="button">Turn Override On</a><br>

    {% else %}

      <a href="/ohdBPO/off" class="btn btn-primary btn-sm" role="button">Turn Override Off</a><br>
    {% endif %}
  <br>
  <div id="CLOCK"></div>
  <a href="http://192.168.1.150/" class="btn btn-primary btn-sm" role="button">Home</a><br><br>
  </div><br>
</body>
</html>
