<!DOCTYPE html>
<html lang="en">
<head>
   <title>Garage Status</title>
   <link href="../static/css/bootstrap.min.css" rel="stylesheet">
   <link href="../static/thistable.css" rel="stylesheet">
   <script src="../static/css/bootstrap.min.js"></script>
   <!-- <META HTTP-EQUIV="refresh" CONTENT="5"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script>
      function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('CLOCK').innerHTML =
        "Current Time: " + h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
      </script>

</head>

<body onload="startTime()">

      <div class="container-fluid">
   <br>
   <h3>Garage Status</h3>
   <br>
   <b>Door:</b> {% if DoorStat == 'open' %}<img src="{{url_for('static', filename='media/red-led-on-hi.png') }}" alt="Arrow" width="26px"  />{% elif DoorStat == 'closed' %}<img src="{{url_for('static', filename='media/green-led-on-hi.png') }}" alt="Arrow" width="26px"  />{% endif %}
   <b>Bypass:</b> {% if bpStat == 'On' %}<img src="{{url_for('static', filename='media/red-led-on-hi.png') }}" alt="Arrow" width="26px"  />{% elif bpStat == 'Off' %}<img src="{{url_for('static', filename='media/green-led-on-hi.png') }}" alt="Arrow" width="26px"  />{% endif %}<br>
   <br>{{gCPU}}<br>
    <br>
   <div id="CLOCK"></div>
   <!-- {{url1}}<br> -->
   </div><br>
   <a href="http://192.168.1.150/" class="btn btn-primary btn-sm" role="button">Home</a><br><br>
</body>
</html>
