<!DOCTYPE html>
<html lang="en">
    <head>   <title>WeatherPi Reboot</title>
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <META HTTP-EQUIV="refresh" CONTENT="5"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<html>
<body>
<div class="container-fluid">
    <h1>Reboot WeatherPi</h1>
    You are about to power-cycle WeatherPi.<br>
    Are you sure you want to do that?<br>
</div><br>
    <a href="/RBWPResp/NO/" class="btn btn-primary btn-sm" role="button">NO</a><br><br>
    <!-- <a href="http://192.168.1.11/reset" class="btn btn-primary btn-sm" role="button">YES</a><br><br> -->
    <a href="/RBWPResp/YES/" class="btn btn-primary btn-sm" role="button">YES</a><br><br>
</body></html>
