<!DOCTYPE html>
<html lang="en">
    <head>   <title>WeatherPi Reboot</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<html>
<body>
<div class="container-fluid">
    <h1>Reboot WeatherPi</h1>
    {{ message }}<br>
</div><br>
    <a href="http://192.168.1.150" class="btn btn-primary btn-sm" role="button">Mother</a><br><br>
</body></html>
