<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Responsive Design</title>
    <link rel='stylesheet' href='/static/styles.css'/> 
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  </head>
  <body>
    <div class='page'>
      <div class='section menu'></div>
      <div class='section header'>
        <img src='/media/content.svg'>
      </div>
       <div class='section content'>
        <img src='/media/content.svg'/>
      </div>
      <div class='section quad-top-left'>
        <img src='/media/sign-up.svg'/>
      </div>
      <div class='section quad-top-right'>
        <img src='/media/feature.svg'/>
      </div>
      <div class='section quad-bottom-left'>
        <img src='http://192.168.1.22/zm/cgi-bin/nph-zms?scale=40&width=100%&display=block&mode=jpeg&maxfps=10&monitor=6&connkey=462395&rand=1579547916'/>
      </div>
      <div class='section quad-bottom-right'>
        <img src='/media/feature.svg'/>
      </div>
    </div>
  </body>
</html>
  
