<!DOCTYPE html>
<html lang="en">
    <head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
<html>
<body>
    Garage: {% if DoorStat == 'open' %}<img src="{{url_for('static', filename='media/red-led-on-hi.png') }}" alt="Arrow" width="16px"  />{% elif DoorStat == 'closed' %}<img src="{{url_for('static', filename='media/green-led-on-hi.png') }}" alt="Arrow" width="16px"  />{% endif %}
    Bypass: {% if bpStat == 'On' %}<img src="{{url_for('static', filename='media/red-led-on-hi.png') }}" alt="Arrow" width="16px"  />{% elif bpStat == 'Off' %}<img src="{{url_for('static', filename='media/green-led-on-hi.png') }}" alt="Arrow" width="16px"  />{% endif %}<br>

</body></html>
